 body {
  padding: 20px;
 }
 h1 {
  text-align: center;
 }
.introduction-paragraph{
  display: inline-block;
  width: 80%;
}
img {
  display: block;
  width:80%;
}
table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 600px; 

    }
td {
  border: 1px solid black;
  padding: 16px;
  font-size: 24px;
    }
th {
  border: 1px solid black;
  font-size: 24px;
  padding: 16px;
    }
    .Contact-us{
      display: inline-block;
    text-align: center;
    }
